<div class="form-group mb-3">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control" value="<%= location.title %>">
</div>

<div class="form-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" name="price" id="price" class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-text">.00</span>
</div>

<div class="form-group mb-3">
    <span class="form-group-text">Number of days:</span>
    <input type="text" name="days" id="days" class="form-control" aria-label="Number of days"
        value="<%= location.days %> ">
    <span class="input-group-text"> days</span>
</div>

<div class="form-group mb-3">
    <span class="form-group-text">Number of nights:</span>
    <input type="text" name="nights" id="nights" class="form-control" aria-label="Number of nights"
        value="<%= location.nights %> ">
    <span class="input-group-text"> nights</span>
</div>

<div class="form-group mb-3">
    <label for="date">Date of Trip</label>
    <input type="text" name="date" id="date" class="form-control" aria-label="Date of Trip"
        value="<%= location.date %> ">
</div>

<div class="form-group mb-3">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" required><%= location.description %></textarea>
</div>

<div class="form-group mb-3">
    <label for="image">Upload Image</label>
    <input type="file" name="image" id="image" class="form-control-file">
</div>

<a href="/trips" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>