<link rel="stylesheet" href="/stylesheets/blog.css">

<div class="container-fluid px-0">

    <div class="row article_title mx-5">
        <!-- <span class="col-1 text-start"><img src="/public/img/down-arrow.png" alt=""></span> -->
        <h1 class="text-center">Latest Articles</h1>
        <!-- <span class="col-1 text-end"><img src="/public/img/down-arrow.png" alt=""></span> -->
    </div>


    <a href="/blog/new" class="btn btn-success mx-3">New Article</a>

    <!-- <div class="row gear_title mx-5">
        <h1 class="text-center">Ultralight Backpacking Gear Essentials</h1>
    </div>
    <div class="text-center">
        <p> Ultralight backpacking is more than just shaving ounces. It’s about freeing yourself so you can hike farther
            and more comfortably, cover wider terrain and see more. Staying fast and light puts more within your reach
            and less strain on your back, shoulders and legs. It’s about calculating the conditions you expect and being
            willing to experience edges of discomfort knowing that the tradeoff is huge—an adventure that is far from a
            trudge.

            We’ll help you get started as you build your fast and light backpacking kit. (A sales associate at your
            nearest REI store can help you get outfitted). Because the lightest gear can also be the most expensive, you
            can slowly add lighter gear, investing in equipment over time and as your budget allows. Finding used gear
            is also a great way to build your kit within a budget. However you do it, start with the “big three” items
            where you can cut the most weight—your shelter, sleep system and backpack.

            <ul class="w-50 mx-auto">
                <li> <strong> First, decide on your ultralight shelter.</strong> Shelter is generally the heaviest and
                    likely the most
                    expensive
                    part of your ultralight kit. It’ll impact the rest of your budget.</li>
                <br>
                <li> <strong>Pick the sleep system you need.</strong> Do you want a sleeping bag or quilt, foam pad or
                    air pad?</li>
                <br>
                <li> <strong>Choose your backpack</strong> once you’ve figured out the other big-ticket items. The
                    lighter and less bulky your gear, the smaller or less structured your pack needs to be.</li>
                <br>
                <li> <strong>Find ways to cut weight</strong> from other gear essentials, such as cooking equipment and
                    clothing.
                </li>
            </ul>

        </p>
    </div> -->

    <% articles.forEach(article =>  { %>
    <div class="card m-5">
        <div class="blog_article border-0">
            <!-- <div class="card-body"> -->
            <div class="row" style="height: 250px;">
                <div class="col-6 p-4 bg-light ">
                    <h4 class="card-title"> <%= article.title %> </h4>
                    <div class="card-subtitle text-muted mb-2" style="font-size: .65rem;">Written by: </div>
                    <div class="d-flex" style="font-size: .85rem;">
                        <div class="card-subtitle mb-2"> <%= article.author %> - </div>
                        <div class="card-subtitle text-muted mb-2">
                            <%- article.createdAt.toLocaleDateString() %>
                        </div>
                    </div>
                    <div class="card-text">
                        <%= article.description %>
                    </div>

                    <div class="read_more">
                        <a class="" href="/blog/<%= article.slug %>">Read More</a>
                        <!-- <a href="/blog/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                        <form action="/blog/<%= article.id %>?_method=DELETE " method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form> -->
                    </div>

                </div>
                <div class="col-6 border-0">
                    <img src="<%= article.image %>" alt="" class="img-fluid w-100 border-0">
                </div>
            </div>

            <!-- </div> -->
        </div>
    </div>
    <% }) %>

</div>