<link rel="stylesheet" href="/stylesheets/blog.css">

<div class="container-fluid px-0">

    <!-- <div class="landing img-fluid">
        <div class="join_trip">
            <p>Do your dreams follow the clouds?</p>
            <a href="/trips" class="btn">Follow Our Adventures</a>
        </div>
    </div> -->
    <div class="landing img-fluid">
        <div class="newsletter__wrapper">
            <div class="d-flex justify-content-between flex-column ">
                <h3 class="flex-fill col">Do your dreams follow the clouds?</h3>
                <form action="#" class="row flex-fill">
                    <div class="col my-md-2 my-2"> <input type="email"
                            class="form-control px-4 border-0 w-100 text-center text-md-left" id="email"
                            placeholder="Your Email" name="email"> </div>
                    <div class="row mx-0 my-md-2 my-2"> <button type="submit" class="btn py-1 w-100">Follow Our
                            Adventures</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row article_title mx-5">
        <span class="col-1 text-start"><img src="/public/img/down-arrow.png" alt=""></span>
        <h1 class=" text-center col-10">Latest Articles</h1>
        <span class="col-1 text-end"><img src="/public/img/down-arrow.png" alt=""></span>
    </div>


    <a href="/blog/new" class="btn btn-success mx-3">New Article</a>


    <% articles.forEach(article =>  { %>
    <div class="blog_article mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h4 class="card-title"> <%= article.title %> </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%- article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= article.description %>
                    </div>
                </div>
                <div class="col-6">
                    <img src="<%= article.image %>" alt="" class="img-fluid w-100">
                </div>
            </div>
            <div class="text-center mt-2">
                <a href="/blog/<%= article.slug %>">Read More</a>
                <!-- <a href="/blog/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                <form action="/blog/<%= article.id %>?_method=DELETE " method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form> -->
            </div>
        </div>
    </div>
    <% }) %>
</div>