<div class="container">

    <!-- <div class="mb-3 row" style="background-image: '/<%= article.image %>'>
        <img src="" class=" img-fluid" style="max-width: 100%; height: fit-content;" alt="">
    </div> -->
    <div class="container col-m-9">
        <div class="container d-flex">
            <div class="col-md-8">
                <h1 class="mb-2"><%= article.title %> </h1>
                <div class="mb-2 d-flex"><%= article.author %> - <div class="text-muted mb-2">
                        <%- article.createdAt.toLocaleDateString() %>
                    </div>
                </div>
                <a href="/blog/edit/<%= article.id %> " class="btn btn-info">Edit</a>

                <!-- <div class="text-muted mb-2"><%= article.slug %></div> -->
                <div class="mt-5">
                    <%- article.sanitizedHtml %>
                </div>

            </div>
            <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
                <img src="/<%= article.image %>" class="img-fluid" alt="">
            </div>
        </div>

        <div class="container mt-5">

            <div class="col-12 text-center">
                <a href="/blog" class="btn btn-secondary">Return To All Articles</a>
            </div>
        </div>
    </div>
</div>