<link rel="stylesheet" href="/stylesheets/gear.css">

<div class="container-fluid px-0">

    <!-- <div class="landing img-fluid">
        <div class="join_trip">
            <p>Do your dreams follow the clouds?</p>
            <a href="/trips" class="btn">Follow Our Adventures</a>
        </div>
    </div> -->
    <div class="landing img-fluid">
        <div class="newsletter__wrapper">
            <div class="d-flex justify-content-between flex-column ">
                <h3 class="flex-fill col text-white">Sign up for info on the latest sales and releases</h3>
                <form action="#" class="row flex-fill">
                    <div class="col my-md-2 my-2"> <input type="email"
                            class="form-control px-4 border-0 w-100 text-center text-md-left" id="email"
                            placeholder="Your Email" name="email"> </div>
                    <div class="row mx-0 my-md-2 my-2"> <button type="submit" class="btn py-1 w-100">Sign Up For
                            Discounts</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row gear_title mx-5">
        <!-- <span class="col-1 text-start"><img src="/public/img/down-arrow.png" alt=""></span> -->
        <h1 class="text-center">Biggest Sale Items</h1>
        <!-- <span class="col-1 text-end"><img src="/public/img/down-arrow.png" alt=""></span> -->
    </div>


    <a href="/gear/new" class="btn btn-success mx-3">New Item</a>

    <div class="row gear_card">
        <% products.forEach(product =>  { %>
        <div class="item_wrapper mt-2 col-3">
            <div class="card-body">
                <div class="row text-center">
                    <div class="">
                        <a href="/gear/<%= product.slug %> ">
                            <img src="<%= product.image %>" alt="" class="img-fluid w-100 mb-4">
                        </a>
                    </div>
                    <div class="">
                        <a href="/gear/<%= product.slug %>" class="text-decoration-none">
                            <p class="mb-1"> <%= product.title %> </p>
                        </a>
                        <div class=" mb-2">
                            $ <%= product.price %>
                        </div>
                    </div>

                </div>
                <!-- <div class="text-center mt-2">
                    <a href="/gear/<%= product.slug %>">Read More</a>
                    <a href="/gear/edit/<%= product.id %>" class="btn btn-info">Edit</a>
                    <form action="/gear/<%= product.id %>?_method=DELETE " method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div> -->
            </div>
        </div>
        <% }) %>
    </div>
</div>