<link rel="stylesheet" href="/stylesheets/gear.css">

<div class="container-fluid px-0">

   

    <div class="row gear_title px-0">
        <h1 class="text-center">Ultralight Backpacking Gear</h1>
    </div>

    <!-- <a href="/gear/new" class="btn btn-success mx-3">New Item</a> -->

    <div class="row gear_card">
        <% products.forEach(product =>  { %>
        <div class="item_wrapper mt-2 col-sm-6 col-md-4 col-lg-3">
            <div class="card-body">
                <div class="row text-center">
                    <div class="">
                        <a href="/gear/<%= product.slug %> ">
                            <img src="<%= product.image %>" alt="" class="img-fluid w-100 mb-4">
                        </a>
                    </div>
                    <div class="">
                        <a href="/gear/<%= product.slug %>" class="text-decoration-none">
                            <p class="mb-1"> <%= product.title %> </p>
                        </a>
                        <div class=" mb-2">
                            $ <%= product.price %>
                        </div>
                    </div>

                </div>
                <!-- <div class="text-center mt-2">
                    <a href="/gear/<%= product.slug %>">Read More</a>
                    <a href="/gear/edit/<%= product.id %>" class="btn btn-info">Edit</a>
                    <form action="/gear/<%= product.id %>?_method=DELETE " method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div> -->
            </div>
        </div>
        <% }) %>
    </div>
</div>