<div class="container mb-5">
    <div class="row my-5">
        <div class="col-6">
            <img src="/<%= product.image %>" alt="" class="img-fluid w-100">
        </div>
        <!-- <div class="text-muted mb-2">
            <%- product.createdAt.toLocaleDateString() %>
        </div> -->
        <div class="col-6">
            <div class="p-2">
                <p class=""><%= product.title %> </p>
            </div>
            <div class="text-muted mt-3">
                <h4>$ <%= product.price %> </h4>
            </div>
            <div class="text-muted mt-3" style="font-family: Korolev;"><%= product.weight %> Ounces</div>



            <form class="" action="" method="POST" enctype="multipart/form-data">



                <div class="form-group my-3">
                    <div for="size" class="mt-5" style="font-family: Korolev;">Size</div>
                    <div class="size btn-group-sm mt-2">

                        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                        <label class="btn btn-secondary" for="option1">Small</label>

                        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                        <label class="btn btn-secondary" for="option2">Medium</label>

                        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                        <label class="btn btn-secondary" for="option3">Large</label>

                        <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                        <label class="btn btn-secondary" for="option4">XLarge</label>
                    </div>

                    <div class="quantity mt-3 w-25">
                        <label for="qty"></label>
                        <select class="form-select" name="qty" id="qty" aria-label="Default select">
                            <option selected>Qty:</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                </div>

            </form>

            <div class="d-flex align-items-start flex-column mt-5">
                <div class="mt-5">
                    <p class="text-danger" style="font-size: .75rem; font-family: Korolev;">Ships within 3-4 business
                        days</p>
                    <a href="#" class="btn mt-3">add to cart</a>
                </div>




                <!-- <a href="/gear/edit/<%= product.id %> " class="float-right mt-5 text-decoration-none text-dark">Edit</a>
                <%- include('../partials/deleteForm', { url: `/gear/${product.id}` }) %> -->
            </div>
        </div>
    </div>

    <div class="w-100 my-5" style="font-family: Korolev;"><%= product.description %></div>
    <div class="d-flex justify-content-end mb-5"><a href="/gear" class=" text-decoration-none text-dark">
            <<< Return to All Items </a> </div>