<link rel="stylesheet" href="/stylesheets/trips_show.css">

<div class="container mt-4">

    <div class="row trip__img mb-3">
        <img src="/<%= location.image %> " alt="" class="img-fluid trip__img">
    </div>


    <h1 class="my-2 text-center"><%= location.title %> </h1>
    <div class="text-muted my-5"><%= location.slug %> </div>


    <div class="mb-5">
        <%= location.description %>
    </div>
    <div class="">
        <a href="/trips" class="text-decoration-none all_trips">
            <<< Back To All Trips </a> </div> <!-- <a href="/trips/edit/<%= location.id %> " class="btn btn-info">Edit
        </a> -->
    </div>