<div class="container">
    <h1 class="mb-4">All Trips</h1>
    <a href="/trips/new" class="btn btn-success">New Trip</a>

    <% locations.forEach(location => { %>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title"> <%= location.title %> </h4>
            <div class="card-text mb-2"> <%= location.description %> </div>
            <a href="/trips/<%= location.slug %> " class="btn btn-primary">Read More</a>
            <a href="trips/edit/<%= location.id %> " class="btn btn-info">Edit</a>
            <form action="/trips/<%= location.id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <% }) %>
</div>